fastapi
uvicorn[standard]
pydantic[email]
python-multipart
sqlalchemy
psycopg[binary]  # driver postgresql
jinja2
passlib[bcrypt]
bcrypt<4.0.0
python-jose[cryptography]
firebase-admin
email-validator
dnspython
python-dotenv  # pour le fichier .env
httpx # requete http pour brevo 
fastapi-mcp
    