fastapi
uvicorn[standard]
pydantic[email]
python-multipart
sqlalchemy
psycopg[binary]
jinja2
passlib[bcrypt]
bcrypt<4.0.0
python-jose[cryptography]
firebase-admin
email-validator
dnspython
python-dotenv
httpx
